<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${event.name}">Event</title>
    </head>
    <body>
        <h1 th:text="${event.name}">Event Name</h1>
        <p><b>Date:</b> <span th:text="${event.date}">Event Date</span></p>
        <p><b>Location:</b> <span th:text="${event.location}">Event Location</span></p>
        <p><b>Type:</b> <span th:text="${event.type}">Event Type</span></p>
        <p><b>Description:</b> <span th:text="${event.description}">Event Description</span></p>
    </body>
</html>